<header class="site-header">

    <div class="site-title">
        <a href="{{ site.github.url }}/">{{ site.title }}</a>
        <span class="site-subtitle">
            Technology • Product • Research • Leadership
        </span>
    </div>

    <nav class="menu-list">

        {% for item in site.data.settings.menu %}
            <a href="{{ site.github.url }}/{{ item.url }}"
               class="menu-link{% if page.url contains item.url %} menu-link-active{% endif %}">
               {{ item.name }}
            </a>
        {% endfor %}

        <span class="menu-divider"></span>

        {% for item in site.data.settings.social %}
            <a href="{{ item.link }}"
               class="menu-link"
               target="_blank">

                <i class="fa fa-{{ item.icon }}"></i>

            </a>
        {% endfor %}

    </nav>

    <div class="dropdown">

        <button class="dropbtn">
            <i class="fa fa-bars"></i>
        </button>

        <div class="dropdown-content">

            {% for item in site.data.settings.menu %}
                <a href="{{ site.github.url }}/{{ item.url }}">
                    {{ item.name }}
                </a>
            {% endfor %}

            <hr>

            {% for item in site.data.settings.social %}
                <a href="{{ item.link }}" target="_blank">
                    <i class="fa fa-{{ item.icon }}"></i>
                </a>
            {% endfor %}

        </div>

    </div>

</header>
